TELEGRAM_TOKEN=your_telegram_bot_token
CALENDAR_ID=your_main_calendar_id@group.calendar.google.com
CALENDAR_WORK_ID=your_work_calendar_id@group.calendar.google.com
CALENDAR_BUSY_ID=your_busy_calendar_id@gmail.com
GOOGLE_CREDENTIALS_FILE=your_credentials_file.json
